In [10]:
import pandas as pd
crime = pd.read_csv("../crime.csv")

crime.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,3193983.0,1707251.0,-104.809881,39.773188,5,521,montbello,1,0
1,20186000994,20186000994239900,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,3201943.0,1711852.0,-104.781434,39.785649,5,522,gateway-green-valley-ranch,1,0
2,20166003953,20166003953230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,3152762.0,1667011.0,-104.957381,39.663490,3,314,wellshire,1,0
3,201872333,201872333239900,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,3157162.0,1681320.0,-104.941440,39.702698,3,312,belcaro,1,0
4,2017411405,2017411405230300,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,3153211.0,1686545.0,-104.955370,39.717107,3,311,cherry-creek,1,0

In [11]:
crime = crime[crime["IS_CRIME"] == 1].drop(columns=["IS_CRIME", "IS_TRAFFIC"])

In [4]:
crime.isna().sum()

INCIDENT_ID                    0
OFFENSE_ID                     0
OFFENSE_CODE                   0
OFFENSE_CODE_EXTENSION         0
OFFENSE_TYPE_ID                0
OFFENSE_CATEGORY_ID            0
FIRST_OCCURRENCE_DATE          0
LAST_OCCURRENCE_DATE      198443
REPORTED_DATE                  0
INCIDENT_ADDRESS           30102
GEO_X                       4044
GEO_Y                       4044
GEO_LON                     4044
GEO_LAT                     4044
DISTRICT_ID                    0
PRECINCT_ID                    0
NEIGHBORHOOD_ID                0
dtype: int64

Omdat er geen First Occurence Dates ontbreken is het handig om daarmee te werken.

In [51]:
#maak een kopie en laat de orginele data in tact voor anderen (en ook omdat pandas dan minder zeurt)
crime_relevant = crime[["OFFENSE_CODE","OFFENSE_CODE_EXTENSION","FIRST_OCCURRENCE_DATE"]].copy()
crime_relevant.head()

   OFFENSE_CODE  OFFENSE_CODE_EXTENSION   FIRST_OCCURRENCE_DATE
0          5213                       0   6/15/2016 11:31:00 PM
1          2399                       0  10/11/2017 12:30:00 PM
2          2305                       0     3/4/2016 8:00:00 PM
3          2399                       0    1/30/2018 7:20:00 PM
4          2303                       0    6/22/2017 8:53:00 PM

In [8]:
string = "6/22/2017 8:53:00 PM"

string.split(' ')[0].split('/')[2]

'2017'

In [52]:
crime_relevant["FIRST_OCCURRENCE_DATE"] = crime_relevant["FIRST_OCCURRENCE_DATE"].str.split(' ').str[0]
crime_relevant["FIRST_OCCURRENCE_DATE"] = crime_relevant["FIRST_OCCURRENCE_DATE"].str.split('/').str[2]
crime_relevant = crime_relevant.rename(columns={"FIRST_OCCURRENCE_DATE":"YEAR"})
crime_relevant.head()

   OFFENSE_CODE  OFFENSE_CODE_EXTENSION  YEAR
0          5213                       0  2016
1          2399                       0  2017
2          2305                       0  2016
3          2399                       0  2018
4          2303                       0  2017

De first occurence date is geen datum meer! Is nu veranderd naar het jaar, deze kolom is nu ook hernoemd om dit aan te geven.

In [61]:
crime_relevant['count'] = 1

crime_relevant_gb = crime_relevant.groupby(["OFFENSE_CODE","OFFENSE_CODE_EXTENSION","YEAR"]).count().reset_index()

crime_relevant_gb

      OFFENSE_CODE  OFFENSE_CODE_EXTENSION  YEAR  count
0              902                       0  2015      2
1              902                       0  2016      6
2              902                       0  2017      2
3              902                       0  2018      4
4              902                       0  2019     10
...            ...                     ...   ...    ...
1038          7399                       3  2016     24
1039          7399                       3  2017     20
1040          7399                       3  2018     34
1041          7399                       3  2019     20
1042          7399                       3  2020      3

[1043 rows x 4 columns]